<header class="mb-5">
  <h1>All the lists</h1>
</header>

<div class="container">
  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0">My Lists</h3>
      <%= link_to 'Create a movie list', new_list_path, class: 'btn btn-primary' %>
    </div>

    <div class="cards">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <div class="card-category">
            <%= list.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
