<header class="mb-5">
  <h1>All the lists</h1>
</header>

<div class="container">

  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    <% end %>
  </ul>
</div>
