<div class="container mt-5">
  <h1 class="text-center">New Movie List</h1>

  <%= render "form", list: @list %>

  <div class="text-center">
    <%= link_to "Back to Lists", lists_path, class: "btn btn-secondary mt-3" %>
  </div>

</div>
