// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }


nav {
  background-color: rgb(228, 247, 247);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}
