// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  background-image: url('https://source.unsplash.com/user/felixmooneeram');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  text-shadow: 1px 1px 2px pink;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  h1 {
    font-size: 48px;
  }
}

.show-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  text-shadow: 1px 1px 2px pink;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  h1 {
    font-size: 48px;
  }
}
